<div class="contents clearfix">
<!-- <div class="contents row" > -->
    <p><%= @nickname %>さんの投稿一覧</p>
     <div class="article">
        <% @usertests.each do |usertest| %>
          <img src=<%= usertest.image %> alt="ユーザテスト">
          <h2><%= simple_format(usertest.text) %></h2>
          </p>
          </p>
        <% end %>
    </div>
</div>
