<div class="contents clearfix">
<!-- <div class="contents row" > -->
  <p><%= @nickname %>さんの投稿一覧</p>
        <% @usertests.each do |usertest| %>
          <%= render partial: "usertests/usertest", locals: { usertest: usertest} %>
        <% end %>
      <%= paginate(@usertests) %>
</div>
