<div class="formset">
　<div class="form">
    <h2>募集する</h2>
        <label for="filetag" class="file">
            <div>ファイルを選択</div>
            <%= file_field_tag :picture , id: "filetag"%>
        </label>

    <h3>見出し(100文字以内)</h3>
    <textarea required placeholder="100文字以内" name="text" cols="30" rows="10" maxlength="100"></textarea>

    <h3>内容(300文字以内)</h3>
    <textarea required placeholder="300文字以内" name="detail" cols="30" rows="10" maxlength="300"></textarea>

    <h3>やっていること(300文字以内)</h3>
    <textarea required placeholder="300文字以内" name="doing" cols="30" rows="10" maxlength="300"></textarea>

    <h3>お願いしたいこと(300文字以内)</h3>
    <textarea required placeholder="300文字以内" name="wants" cols="30" rows="10" maxlength="300"></textarea>

    <div>
    <input type="submit" value="SENT" class="formbtn">
    </div>

  </div>
</div>
