<div class="formset">

    <div>
      <%= file_field_tag :picture%>
    </div>

    <div class="text_form">
    <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
    </div>

    <div class="text_form">
    <textarea placeholder="detail" name="detail" cols="30" rows="10"></textarea>
    </div>

    <input type="submit" value="SENT">

</div>
