<div class="article">
      <div class="picture">
      <%= image_tag usertest.picture.to_s %>
      </div>
      <div class="a_title">
        <h2><%= usertest.text %></h2>
      </div>
      <div class="a_text">
          <p><%= usertest.detail %></p>
      </div>
          <%= link_to '詳細', "/usertests/#{usertest.id}", method: :get, class: "article_link"%>
          <%# if user_signed_in? && current_user.id == usertest.user_id %>
            <%#= link_to usertest.user.nickname, "/users/#{usertest.user_id}", method: :get, class: "square_btn"%>
            <%#= link_to '編集', "/usertests/#{usertest.id}/edit", method: :get, class: "square_btn"%>
            <%#= link_to '削除', "/usertests/#{usertest.id}", method: :delete, class: "square_btn" %>
          <%# end %>
</div>
