<div class="article">
      <div class="picture">
      <%= image_tag usertest.picture.to_s %>
      </div>
      <div class="a_title">
        <h2><%= usertest.text %></h2>
      </div>
      <div class="a_text">
          <p><%= usertest.detail %></p>
      </div>
          <%= link_to '詳細', "/usertests/#{usertest.id}", method: :get, class: "article_link"%>
</div>
