<%= render "layouts/header" %>


<div class="contents clearfix">

          <% @usertests.each do |usertest| %>
            <%= render partial: "usertest", locals: { usertest: usertest} %>
      <% end %>

  <%= paginate(@usertests) %>
</div>

