<%= render "layouts/header" %>


<div class="contents clearfix">
      <% @usertests.each do |usertest| %>
            <%= render partial: "usertest", locals: { usertest: usertest} %>
      <% end %>
      <div class="paginate">
       <%= paginate(@usertests) %>
      </div>
</div>

<%#= render "layouts/footer" %>
