<div class="contents">
  <div class="article">
  <%= form_tag('/usertests', method: :post) do %>
   <h3>
      投稿する
    </h3>
    <div class="formset">
    <div class="image_form">
      <input placeholder="Image Url" type="text" name="image" autofocus="true">
    </div>
    <div class="text_form">
    <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="SENT">
    </div>
  <% end %>
</div>
</div>
