.comment_form{
  text-align: center;
}

textarea[placeholder=コメントする]{
    width: 600px;
    height: 3.0em;
    margin-top: 1.0em;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    resize: none;
}

textarea[placeholder="コメントする"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

.comments{
  text-align: center;
}
