.contents.row{
 margin: 100px auto;
}

.device_form{
    text-align: center;
}

.device_form h2{
    display: inline-block;
    width: 600px;
    height: 30px;
    border-radius: 10px;
    margin-top: 1.0em;
    margin-bottom: 30px;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    font-size: 24pt;
    background-color: #165e83;
    transition: .4s;
}

.f_label{
  font-size: 14pt;
  font-weight: bold;
}

.f_area{
  width: 300px;
    height: 50px;
    margin-bottom: 1.5em;
    padding: 0.8em;
    outline: none;
    border: 1px solid #165e83;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    resize: none;
}


.f_area:focus{
    box-shadow: 0 0 7px #165e83;
    border: 1px solid #165e83;
}

.f_check{
  display: none;
}

.checkbox-icon{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}

.checkbox-icon::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10;
  width: 15px;
  height: 15px;
  border: 1px solid #165e83;
  border-radius: 3px;
}

.f_check:checked + .checkbox-icon{
  color: #165e83;
}
.f_check:checked + .checkbox-icon::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 15px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #165e83;
  border-right: 3px solid #165e83;
}

.login #loginbtn{
    display:none;
}
.login div{
  cursor:pointer;
  display: inline-block;
    width: 200px;
    height: 50px;
    border: 1px solid #165e83;
    border-radius: 3px;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    text-decoration: none;
    color: #165e83;
    font-size: 18pt;
    line-height: 50px;
    background-color: #ffffff;
    transition: .4s;
}
.login div:hover{
  color: #ffffff;
    background-color: #165e83;
}

