header {
  /*height: 600px;*/
}

.heading {
  /*height: 50px;*/
  /*margin: 0 auto;*/
}

.heading h1{

}

.navbar {
  /*height: 600px*/
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}
.title{
   margin: 0 auto;
  line-height: 46px;
}
