header {

}

.navbar {
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 60px;
  z-index: 9999;
  border-bottom: solid 1px #f0f0f0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.title{
  text-decoration: none;
  font-size: 44px;
  color: #165e83;
  margin-left: 20px;
  margin-top: 10px;
}
