h3{
  background-color: #fffacd;
  color: #666452;
  text-align: center;
}

.formset{
  width: 100%;
}

.image_form{
  margin: 30px auto;
}

input[type=text]{
width:90%;
height:20px;
}

textarea[placeholder=text]{
  width:90%;
resize: none;
}
