.profile{
    text-align: center;
}

.profile h2{
    display: inline-block;
    width: 600px;
    height: 30px;
    border-radius: 15px;
    margin-top: 1.0em;
    margin-bottom: 30px;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    font-size: 24pt;
    background-color: #165e83;
    transition: .4s;
}
