body {
  background-color: #fdfdfd;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.contents {
  /*background-color: #87ceeb;*/
  /*width: 60%;*/
  margin: 30px 30px 30px 30px;
}

.btn{
  text-align:center;
  margin-top: 15px;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #2f2f2f;
}

.square_btn:hover{
  color: #ff9999;
  border-bottom: 2pt solid #ff9999;
}

.device_btn{
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  color: #2f2f2f;
}

.device_btn:hover{
  color: #ff9999;
  border-bottom: 2pt solid #ff9999;
}

.paginate{
   text-align: center;
}

