<header>
  <div class="headimage">
      <img src=http://www.ohiofarmer.com/sites/ohiofarmer.com/files/styles/article_featured_retina/public/0508F1-28210.jpg?itok=yZe_f_mi" alt="ユーザテスト">
      <p>IMAGE</p>
    </div>
</header>
